.wrapper {
  padding-left: 40px;
}

.form {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: rgb(240, 236, 236);
}

.form label {
  justify-self: flex-start;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.form span {
  font-weight: 500;
}

.form .input {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--color-orange);
  width: 50%;
  transition: 0.2s ease all;
  font-size: 1.4rem;
}

.form .input:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-orange);
}

.form .input:focus::placeholder {
  color: transparent;
}

.buttonContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonContainer button {
  border: none;
  outline: none;
  padding: 5px 40px;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: var(--color-white);
  transition: 0.2s ease-in-out all;
  border: 2px solid rgb(85, 85, 85);
  border-radius: 20px;
}
.buttonContainer button:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-color: transparent;
}

.icon {
  margin-bottom: 20px;
}
