.container {
  padding: 0 40px;
}

.container .header {
  display: flex;
  justify-content: space-between;
}

.container .header .profile .pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.295) 0px 5px 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid rgb(107, 107, 107);
}

.container .header .profile .pic:hover {
  box-shadow: rgba(0, 0, 0, 0.466) 0px 5px 15px;
}
