.wrapper {
  padding-left: 20px;
}

.wrapper h1 {
  padding-top: 20px;
  font-size: 25px;
}

.legend {
  display: flex;
  justify-content: space-evenly;
}

.legend > * {
  margin: 0 1rem;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

td,
th {
  padding: 1rem;
}

th {
  background-color: var(--color-black);
  border-radius: 5px 5px 0px 0px;
  color: rgb(201, 200, 200);
}

th:first-child {
  border-radius: 5px 0px 0px 0px;
}

tr:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  border-radius: 0;
}

th:last-child {
  border-radius: 0px 5px 0px 0px;
}

td {
  text-align: center;
}

.icon {
  cursor: pointer;
  color: rgb(75, 75, 75);
  transition: 0.3s ease all;
}

.icon:hover {
  color: var(--color-orange);
}
