.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 100px 0 40px 0;
}

.author {
  padding-left: 5px;
  color: var(--color-black);
  font-weight: bold;
}

.author:hover {
  text-decoration: underline;
}
