.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form h1 {
  margin-bottom: 20px;
}

.form .input {
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.151) 0px 5px 15px;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.form .input:focus {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 15px;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  padding: 9px;
  border: none;
  outline: none;
  background-color: var(--color-orange);
  font-size: 15px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.185) 0px 5px 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.buttonContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 15px;
}
