.container {
  background-color: white;
  padding: 30px;
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.finishOrders {
  display: flex;
  justify-content: right;
}

.exit {
  color: white;
  font-weight: 400;
  padding: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #f67555;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: var(--color-black);
}

.header h1 {
  font-size: 2.2rem;
}

.header h4 {
  color: gray;
}

.content {
  font-size: 1.9rem;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100px;
  overflow-wrap: normal;
  color: var(--color-black);
}

.note {
  font-size: 1.8rem;
  color: var(--color-black);
}

.notepara {
  font-size: 1.8rem;
  padding-left: 20px;
  color: var(--color-black);
}
